:root{
    --background-color: rgb(214, 54, 54);
    --text-color: hsl(0, 0%, 100%);
}

.green {
    background-color: hsl(120, 100%, 19%);
}
.pink{
    background-color: hsl(350, 100%, 88%);
}
.black{
    background-color: hsl(0, 0%, 0%);
}